.header{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
    display: flex;
    align-items: center;
}

.header_text{  
    font-size: x-small;
    width: 30px;
    height: 40px;
    color: white;
}

.drop_down_button{
    margin-left: 25px;
    margin-top: 5px;
}

.logout{
    position: absolute;
    right: 35px;
    top: 15px;
    height: 30px;
    width: 65px;
    background-color: #e50914;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.profile{
    position: absolute;
    right: 30px;
    top: 10px;
} 

.profile_icon{
    align-items: center;
    height: 30px;
}

.profile_hello{
    margin-top: -5px;
}

