.header{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: black;
    display: flex;
    align-items: center;
}

.header_text{  
    font-size: x-small;
    width: 30px;
    height: 40px;
    color: white;
}

.drop_down_button{
    margin-left: 25px;
    margin-top: 5px;
}

.profile_icon{
    position: absolute;
    right: 30px;
    top: 15px;
    height: 30px;
} 

